.page {
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-height: 100vh;
}

.block {
    display: flex;
    color: #fff;
    background: #19b7e7;
    padding: 0px 5px;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    margin-bottom: 30px;
}
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.section {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin: 15px 0;
}
.side-content {
    width: 15%;
}
.center-content {
    width: calc(70% - 30px);
}
.title{
    text-align: center;
}
.fooret {
    width: 100%;
    margin-top: auto;
}

@media (max-width:768px) {
    .section{
        flex-direction: column;
        align-items: center;
    }

    .block{
        width: 100%;
    }
}
